.container-fluid {
  padding: 3% 10%;
}
.btn-style {
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
  color: white;
  display: inline-block;
  float: right;
  font-weight: 600;
}
.chart-style {
  padding-left: 1rem;
}
